.MonthBox {
    width: 13%;
    margin: 10px;
    padding: 6px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}


.MonthBox:hover {
    background-color: #ccc;
    cursor: pointer
}

.CurrMonth {
    background-color: #d4ab7f;
}


@media(max-width: 1100px) {
    .MonthBox{
        font-size: x-small;
    }
}

@media(max-width: 500px) {
    .MonthBox {
        font-size: xx-small;
        margin: 5px;
    }
}